<h1>Zaloguj się</h1>
<form method="post" action="/logged">
  <label>Podaj hasło:</label>
  <input type="password" name="password">
  <input type="submit" value="zaloguj się">
</form>
<p><%= @hashed_password %></p>
