<h1>Formularz zmiany hasła</h1>
<form method="post" action="/confirm_password">
  <label>Podaj hasło:</label>
  <input type="password" name="password">
  <input type="submit" value="zaloguj się">
</form>
